.red-header {
    background-color: #B52C2C;
    color: #F8F9FA;
    font-weight: bold;
}

.bg-darker {
    background-color: rgba(0, 0, 0, 0.9);
}

dt {
    margin-top: 2em;
    text-decoration: underline;
}

dd {
    margin-left: 2em;
    margin-top: 1em;
}

dt::before {
    content: "Q";
    display: inline-block;;
    background-color: #6f42c1;
    color: #ffffff;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.6px 0 0 7.5px;
    margin-right: 1em;
    height: 25px;
    width: 25px;
}

dd::before {
    content: "A";
    display: inline-block;
    background-color: #1c7430;
    color: #ffffff;
    font-weight: bold;
    border-radius: 25px;
    padding: 0.1px 0 0 7.5px;
    margin-right: 1em;
    height: 25px;
    width: 25px;
}

/*PAGINATION STYLING*/

.page-link, .page-item ~ .disabled .page-link {
    color: #dc3545 !important;
    background-color: #212529 !important;
    border-color: #32383e !important;
}

.page-link:hover {
    color: #B52C39 !important;
    background-color: hsla(0,0%,100%,.05) !important;
    border-color: #32383e !important;
}

.page-item.active .page-link {
    background-color: #dc3545 !important;
    color: #ffffff !important;
}

.disabled {
    cursor: not-allowed;
}

li.disabled .page-link, .page-item + .disabled .page-link {
    color: hsla(0,0%,100%,.5) !important;
}